<html>
  <head>

    <title> Todo app  </title>
    <script>
      function submitFile(){
        var selectedFile = document.getElementById("uploaded");
        const uploadButton=document.getElementById('uploadFile');
        var formDataObj = new FormData();
        //formDataObj.append()
        formDataObj.append('img',selectedFile.value);
//        console.log(selectedFile.value);
        xhrSendFile=new XMLHttpRequest();
        xhrSendFile.open("POST", "/upload_file");
        xhrSendFile.setRequestHeader('Content-Type','multipart/form-data');
        xhrSendFile.send(formDataObj);
//        console.log(formDataObj);
        //console.log(formDataObj);
        //document.getElementById('imgShown').setAttribute('src',selectedFile.value);
      };
      function createLiOnTaskAdd(taskName) {
        liElem=document.createElement('li');
        let inp = document.createElement('input');
        inp.setAttribute('id',taskName);
        inp.setAttribute('type',"checkbox");
        inp.setAttribute('name','checkText');
        let lbl = document.createElement('label');
        lbl.setAttribute('for',taskName);
        lbl.innerHTML=taskName;
        liElem.appendChild(inp);
        liElem.appendChild(lbl);
        document.getElementById('task_list').appendChild(liElem);
      }
      function addOnClick(){
        let newTask = document.getElementById('newtask').value;
        let xmlhttpreq = new XMLHttpRequest();
        xmlhttpreq.open("POST", "/add_task");
        xmlhttpreq.setRequestHeader("Content-Type", "application/json"); //modified
        xmlhttpreq.send(JSON.stringify({newTask})); //new
        alert(JSON.stringify({newTask}));
        xmlhttpreq.onload = () => alert(xmlhttpreq.responseText);
        createLiOnTaskAdd(newTask);
      };

      function removeOnClick(){
        let xhrDelete = new XMLHttpRequest();
        xhrDelete.open("DELETE", "/remove_task");
        xhrDelete.setRequestHeader("Content-Type", "application/json");
        let tasksToDo=Array.from(document.getElementsByName('check'));
        let remTasks=[];
        for(var i=0;i<tasksToDo.length;i++){
          if(tasksToDo[i].checked) {
            remTasks.push(tasksToDo[i].getAttribute('value'))};
         //   console.log(tasksToDo[i].getAttribute('value'))
         // console.log(removedTasks[i]);
        }
         // console.log(remTasks);
        //var tasks_ul=document.getElementById('task_list');
        //var comTaskUl=document.getElementById('fTasksUl');
        //removing elements
        //remTasks.forEach(function(remElem){
        //tasks_ul.removeChild(document.getElementById(remElem +'_li')); 
        //let fTasksli=document.createElement('li');
        //fTasksli.innerHTML="<input type='checkbox' checked> "+ remElem;
        //comTaskUl.append(fTasksli);
        //  let liChildInput=document.createElement('input');
        //  liChildInput.innerHTML=toString(remElem);
        //  liChildInput.setAttribute('type','checkbox');

         //adding elements to complete tasks
        //  //creating input//
         //liChildInput.setAttribute('checked', true);
         //creating li
         //comTaskLi.appendChild(liChildInput); //add checkbox with taskname 
         
        //});
        xhrDelete.send(JSON.stringify(remTasks));
        xhrDelete.onload = () => alert(xhrDelete.responseText);
        
       /* removedTasks.forEach(remTask =>
        {
          if(remTask.checked){remTasks.push(remTask)};
          console.log(remTask);
        }
        );*/
      }
//      function removeOnClick(){
//        let removedTasks = document.getElementsByName('check');
//        remTasks=[];
//      removedTasks.forEach(remTask => {
//          if(remTask.getAttribute(checked)==true){remTasks.push(remTask);
 //        };}
    </script>
  </head>
<body>
  <div class="container">
     <h2> Simple Todo app </h2>

       <input type="text" id="newtask" value="MEME">        
       <button onclick="addOnClick();" action = "/add_task"> Add Task </button>
       <h2> Added Task </h2>
       <ul id="task_list">
             <% for (let i=0 ; i < task.length ; i++){ %>
                <li id="<%= task[i]._id+'_li' %>"> 
                  <input id= "<%= task[i]._id %>" value= "<%= task[i]._id %>" type="checkbox" name="check" > 
                  <label for= "<%= task[i]._id  %>" name="checkText"> <%= task[i].task %> </label>
                </li>
             <% } %> 
          </ul>
<button onclick="removeOnClick()" type="submit"> Remove </button>

     <h2 id="fTasks"> Completed task </h2>
          <ul id="comTasksUl">
            <% for (let i=0 ; i < complete.length ; i++){ %>
              <li id="<%= complete[i]._id+'_li' %>">
                <input id="<%= complete[i]._id+'_li' %>" value="<% complete[i]._id %>" type="checkbox" checked>
                <label for="<%= complete[i]._id %>"> <%= complete[i].task %></label> 
              </li> 
            <%}%>
          </ul> 
  <input type="file" id="uploaded" name="uploaded">
  <button id="uploadFile" onclick="submitFile()">Upload File</button>
  <div>
    <img id="imgShown" alt="uploaded picture">
  </div>
</div>
</body>
</html>