<html>
  <head>

    <title> Todo app  </title>
    <script>
      function createLiOnTaskAdd(taskName) {
        liElem=document.createElement('li');
        let inp = document.createElement('input');
        inp.setAttribute('id',taskName);
        inp.setAttribute('type',"checkbox");
        inp.setAttribute('name','checkText');
        let lbl = document.createElement('label');
        lbl.setAttribute('for',taskName);
        lbl.innerHTML=taskName;
        liElem.appendChild(inp);
        liElem.appendChild(lbl);
        document.getElementById('task_list').appendChild(liElem);
      }
      function addOnClick(){
        let newTask = document.getElementById('newtask').value;
        let xmlhttpreq = new XMLHttpRequest();
        xmlhttpreq.open("POST", "/add_task");
        xmlhttpreq.setRequestHeader("Content-Type", "application/json"); //modified
        xmlhttpreq.send(JSON.stringify({newTask})); //new
        alert(JSON.stringify({newTask}));
        xmlhttpreq.onload = () => alert(xmlhttpreq.responseText);
        createLiOnTaskAdd(newTask);
        console.log(xmlhttpreq.getResponseHeader('version'));
      };

      function removeOnClick(){
        let xhrDelete = new XMLHttpRequest();
        xhrDelete.open("POST", "/remove_task");
        xhrDelete.setRequestHeader("Content-Type", "application/json");
        let removedTasks=Array.from(document.getElementsByName('check'));
        let remTasks=[];
        for(var i=0;i<removedTasks.length;i++){
          if(removedTasks[i].checked) {remTasks.push(removedTasks[i].getAttribute('id'))};
         // console.log(removedTasks[i]);
        }
         // console.log(remTasks);
         var tasks_ul=document.getElementById('task_list');
        var comTaskLi=document.getElementById('fTasksli');
        var comTaskUl=document.getElementById('fTasksUl');
        //removing elements
        remTasks.forEach(function(remElem){
         tasks_ul.removeChild(document.getElementById(remElem +'_li')); 
         //adding elements to complete tasks
         //creating input
         let liChildInput=document.createElement('input');
         liChildInput.innerHTML=toString(remElem);
         liChildInput.setAttribute('type','checkbox');
         //liChildInput.setAttribute('checked', true);
         //creating li
         comTaskLi.appendChild(liChildInput); //add checkbox with taskname 
         comTaskUl.appendChild(comTaskLi);
        });
        xhrDelete.send(JSON.stringify(remTasks));
        xhrDelete.onload = () => alert(xhrDelete.responseText);
        
       /* removedTasks.forEach(remTask =>
        {
          if(remTask.checked){remTasks.push(remTask)};
          console.log(remTask);
        }
        );*/
      }
      

//      function removeOnClick(){
//        let removedTasks = document.getElementsByName('check');
//        remTasks=[];
//      removedTasks.forEach(remTask => {
//          if(remTask.getAttribute(checked)==true){remTasks.push(remTask);
 //        };}
  
        
    </script>
  </head>
<body>
  <div class="container">
     <h2> Simple Todo app </h2>

       <input type="text" id="newtask" value="MEME">        
       <button onclick="addOnClick();" action = "/add_task"> Add Task </button>
       <h2> Added Task </h2>
       <ul id="task_list">
            <% for (let i=0 ; i < task.length ; i++){ %>
                <li id="<%= task[i]+'_li' %>"> 
                  <input id= "<%= task[i] %>" type="checkbox" name="check" > 
                  <label for= "<%= task[i] %>" name="checkText"> <%= task[i] %> </label>
                </li>
            <% } %>
          </ul>
<button onclick="removeOnClick()" type="submit"> Remove </button>

    <h2 id="fTasks"> Completed task </h2>
    <ul id="fTasksUl">
        <% for(var i=0;i < complete.length;i++){ %>
            <li id="fTasksli">
                <input type="checkbox" checked> <%= complete[i] %> 
            </li>
        <% } %>
    </ul>
<button type="file" >Choose File</button>
</div>
</body>
</html>